################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/LojaVeiculos/FileContentIndex/25ad9f57-d064-4a27-91b8-b1ad8352199c.vsidx
